{% extends "auctions/layout.html" %}

{% block body %}
    <h1 style="color:darkblue;">Create New Listing</h1>
    <br>
    
    <form action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        
        <h5>Title of listing: </h5>
        {{ form.title }}
        <br><br>

        <h5>Description of listing: </h5>
        {{ form.description }}
        <br><br>

        <h5>Starting bid: </h5>
        {{ form.price }}
        <br><br>

        <h6>Image Link: </h6>
        {{ form.image_link }}
        <br><br>

        <h5>Category: </h5>
        <select name="categories">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category }}</option>
            {% endfor %}
        </select>
        
        <br><br>

        <input type="submit" class="btn btn-primary">
    </form>

{% endblock %}