{% if user.is_authenticated %}
<div class="card">
    <div class="card-body" id="createpost-form">
        <h2> Create new post</h2>
        <form action="{% url 'createpost'  %}" method="POST"  >
            {% csrf_token %}          
            <div class="form-group">
                <div class="input-group">
                    <textarea class="form-control" rows="3" id="contents" name="contents" placeholder="What's happening?"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form> 
    </div>
</div>
{% endif %}